<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4><%= titulo %></h4>
            <p class="mb-0">&raquo; Central de relatórios e métricas</p>
        </div>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Inicial</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Relatórios</a></li>
        </ol>
    </div>
</div>

<div class="row">
    <!-- Relatório 1 -->
    <div class="col-lg-4 col-md-6 mb-4">
        <a href="javascript:void(0)" style="text-decoration: none; color: inherit;">
            <div class="config-card" style="cursor: not-allowed; opacity: 0.6;">
                <div class="config-card-icon">
                    <i class="mdi mdi-account-card-details"></i>
                </div>
                <div class="config-card-info">
                    <h5>Desempenho de Matrículas</h5>
                    <p>Relatório de alunos e vendas (Em breve)</p>
                </div>
            </div>
        </a>
    </div>

    <!-- Relatório 2 -->
    <div class="col-lg-4 col-md-6 mb-4">
        <a href="javascript:void(0)" style="text-decoration: none; color: inherit;">
            <div class="config-card" style="cursor: not-allowed; opacity: 0.6;">
                <div class="config-card-icon">
                    <i class="mdi mdi-cash-multiple"></i>
                </div>
                <div class="config-card-info">
                    <h5>Fechamento de Caixa</h5>
                    <p>Entradas e Saídas do período (Em breve)</p>
                </div>
            </div>
        </a>
    </div>
</div>
