<div class="header">
    <div class="header-content">
        <nav class="navbar navbar-expand">
            <div class="collapse navbar-collapse justify-content-between">
                <div class="header-left d-flex align-items-center w-100">
                    <div class="header-search">
                        <i class="mdi mdi-magnify"></i>
                        <input class="form-control" type="text" placeholder="Pesquise aqui">
                    </div>
                    
                    <div class="theme-top-tabs d-none d-xl-flex flex-grow-1 justify-content-center align-items-center">
                        <a href="#" class="btn btn-outline-light btn-icon text-muted border mr-2"><i class="mdi mdi-help-circle-outline"></i></a>
                        <a href="/disponibilidade" class="btn btn-theme-primary mr-2"><i class="mdi mdi-calendar-check"></i> Disponibilidade</a>
                        <a href="/atendimento" class="btn btn-theme-primary mr-2"><i class="mdi mdi-account-tie"></i> Atendimento</a>
                        <a href="/agenda" class="btn btn-theme-primary mr-2"><i class="mdi mdi-calendar"></i> Agenda</a>
                        <a href="/escola" class="btn btn-theme-primary mr-2"><i class="mdi mdi-domain"></i> Escola</a>
                        <a href="/caixa" class="btn btn-theme-primary mr-2"><i class="mdi mdi-cash-register"></i> Caixa</a>
                        <a href="/turmas" class="btn btn-theme-primary mr-2"><i class="mdi mdi-google-classroom"></i> Turmas</a>
                        <a href="/ajuda" class="btn btn-theme-primary mr-2"><i class="mdi mdi-help-circle"></i> Ajuda <i class="mdi mdi-chevron-down"></i></a>
                    </div>
                </div>

                <ul class="navbar-nav header-right">
                    <!-- Notifications and Account removed as requested -->
                </ul>
            </div>
        </nav>
    </div>
</div>