<div class="nav-header">
    <a href="/" class="brand-logo" style="text-decoration: none; color: white;">
        <h2 class="mb-0 mx-auto" style="color: #fff; font-weight: bold; letter-spacing: 1px;">Muse<span style="color: #593bdb;">ERP</span></h2>
    </a>

    <div class="nav-control">
        <div class="hamburger">
            <span class="line"></span><span class="line"></span><span class="line"></span>
        </div>
    </div>
</div>