<div class="quixnav">
    <div class="quixnav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label first">Menu Principal</li>

            <li>
                <a href="/" aria-expanded="false">
                    <i class="icon icon-single-04"></i>
                    <span class="nav-text">Tela Inicial</span>
                </a>
            </li>

            <li>
                <a href="/atendimento" aria-expanded="false">
                    <i class="icon icon-headphones"></i>
                    <span class="nav-text">Leads</span>
                </a>
            </li>

            <li class="nav-label">Pedagógico</li>

            <li>
                <a href="/escola" aria-expanded="false">
                    <i class="icon icon-book-open"></i>
                    <span class="nav-text">Escola</span>
                </a>
            </li>

            <li>
                <a href="/agenda" aria-expanded="false">
                    <i class="icon icon-calendar"></i>
                    <span class="nav-text">Agenda</span>
                </a>
            </li>

            <li class="nav-label">Administrativo</li>

            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                        class="icon icon-chart-bar-33"></i><span class="nav-text">Financeiro</span></a>
                <ul aria-expanded="false">
                    <li><a href="/caixa">Caixa</a></li>
                    <li><a href="/contratos">Contratos</a></li>
                    <li><a href="/pessoas">Pessoas / Cadastros</a></li>
                </ul>
            </li>

            <li>
                <a href="/relatorios" aria-expanded="false">
                    <i class="icon icon-single-copy-06"></i>
                    <span class="nav-text">Relatórios</span>
                </a>
            </li>

            <li class="nav-label">Sistema</li>

            <li>
                <a href="/configuracoes" aria-expanded="false">
                    <i class="icon icon-settings"></i>
                    <span class="nav-text">Configurações</span>
                </a>
            </li>

        </ul>
    </div>
</div>